/* 全局主题色 */
:root {
    --md-primary-fg-color: #4339F2;
    --md-primary-fg-color--light: #DAD7FE;
}

/* 代码高亮颜色 */
:root > * {
    --md-code-hl-color: #F3EDD1;
}

/* 代码行高 */
.md-typeset pre {
    line-height: 1.8;
}

/* Footer */
@keyframes footer-heart {
    0%,
    40%,
    80%,
    100% {
        transform: scale(1);
    }
    20%,
    60% {
        transform: scale(1.15);
    }
}
.footer-heart {
    animation: footer-heart 1000ms infinite;
}
.hooper-content__footer {
    text-align: center;
    font-size: 14px;
    padding: 30px 0 20px;
}
.hooper-content__footer a {
    color: #DDD;
}