/**
 * @file: vars.less Normal variables
 * @since: 2020-09-09
 * @author: Hooper (admin@hooperui.com)
 * @copyright: HooperUI @ MIT
 */

//  colors
$color-primary: #4339F2 !default;
$color-success: #34B53A !default;
$color-warning: #FFB200 !default;
$color-danger: #FF3A29 !default;
$color-info: #02A0FC !default;
$color-white: #FFF !default;
$color-black: #000 !default;
$color-normal: #8F9BB3 !default;
$hooperui-theme-colors: (
    "primary": $color-primary,
    "success": $color-success,
    "warning": $color-warning,
    "danger": $color-danger,
    "info": $color-info,
    "white": $color-white,
    "black": $color-black,
    "normal": $color-normal
);

// lighter colors
$color-primary-light: #DAD7FE !default;
$color-danger-light: #FFE5D3 !default;
$color-info-light: #CCF8FE !default;
$color-success-light: #E2FBD7 !default;
$color-warning-light: #FFF5CC !default;

// background color
$color-gray-1: #F7F9FC !default;
$color-gray-2: #EDF1F7 !default;
$color-gray-3: #E4E9F2 !default;
$color-gray-4: #C5CEE0 !default;
$color-gray-5: #8F9BB3 !default;
$color-gray-6: #2E3A59 !default;

// text
$color-text-primary: #222B45 !default;
$color-text-normal: #8F9BB3 !default;

// border
$border-width-base: 3px !default;
$border-style-base: solid !default;

// font-size
$font-size-h1: 40px;
$font-size-h2: 32px;
$font-size-h3: 20px;
$font-size-h4: 14px;
$font-size-h5: 10px;
$font-size-normal: 14px;
