/**
 * @file: vars.less Normal variables
 * @since: 2020-09-09
 * @author: Hooper (admin@hooperui.com)
 * @copyright: HooperUI @ MIT
 */
// namespace
$--prefixer: hoo;

//  colors
$--color-primary: #4339F2 !default;
$--color-danger: #FF3A29 !default;
$--color-info: #02A0FC !default;
$--color-success: #34B53A !default;
$--color-warning: #FFB200 !default;
$--color-white: #FFFFFF !default;
$--color-black: #000000 !default;

// lighter colors
$--color-primary-light: #DAD7FE !default;
$--color-danger-light: #FFE5D3 !default;
$--color-info-light: #CCF8FE !default;
$--color-success-light: #E2FBD7 !default;
$--color-warning-light: #FFF5CC !default;

// background color
$--background-color: #F6F6F6 !default;

// border
$--border-width-base: 1px !default;
$--border-style-base: solid !default;

// text
$--color-text-primary: #000 !default;
$--color-text-regular: #929292 !default;