@import 'styles/base.scss';

.hoo-button {
    box-sizing: border-box;
    border: 1px solid $color-gray-3;
    background-color: $color-gray-1;
    box-shadow: $color-gray-3 0 2px 10px;
    font-size: $font-size-normal;
    color: $color-text-primary;
    padding: 14px 22px;
    border-radius: 4px;
    transition: all .1s;

    & + & {
        margin-left: 10px;
    }

    &:hover:not(.disabled) {
        background-color: $color-gray-2;
        cursor: pointer;
    }

    &:active:not(.disabled) {
        background-color: $color-gray-3;
    }
}
